.splide {
  margin-bottom: 0px;
  padding: 0;
}

.splide .splide__arrow svg {
  width: 20px;
  height: 20px;
}

.splide__slide {
  width: fit-content !important;
}

.me-reviews-container .ratings-container {
  gap: 2px;
}

.me-reviews-container .ratings-container span {
  width: 12px;
  height: 12px;
}

.friends-activity-container .ratings-container {
  gap: 2px;
  margin-top: 4px;
}

.friends-activity-container .ratings-container span {
  width: 12px;
  height: 12px;
}

.friends-activity-container .ratings-container span svg {
  fill: gray;
}
