.filter-options.filter-view {
  border: none;
  align-items: center;
}

.filtered-view-filter-bar {
  margin-top: 40px;
  border-bottom: 1px solid #eeeeee20;
}

.filter-section {
  transition: opacity 0.2s ease-in-out;
}

.filter-section.loading {
  opacity: 0.5;
  pointer-events: none;
}

.films-section {
  width: 100%;
  min-height: 562px;
  height: fit-content;
}

.filtered-view-filter-bar h3 {
  font-size: 14px;
  display: grid;
  place-items: center;
}

.text-lowercase {
  text-transform: lowercase;
}

.primary-filter-button.filter-view {
  border: none;
  font-size: 12px;
}

.primary-filter-button.filter-view svg,
.filtered-view-filter-bar .dropdown-title svg {
  width: 15px;
  height: 15px;
}

.filtered-view-filter-bar .dropdown-title {
  font-size: 12px;
  display: flex;
}

.default-view-selector {
  align-items: center;
}

.view-selector-text {
  display: none;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 500;
  text-align: center;
  display: grid;
  line-height: 1cap;
}

.mini-change-view {
  width: fit-content;
  margin: 15px auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.mini-change-view .default-view-selector {
  display: none;
}

.mini-change-view .chain-filters {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.mini-change-view .chain-filters .view-selector-text {
  display: block;
}

.default-view-selector span svg,
.mini-change-view .chain-filters svg path {
  width: 18px;
  height: 18px;
  fill: #3d959b64;
}

.default-view-selector span:hover svg,
.default-view-selector span.active svg,
.mini-change-view .chain-filters:hover svg path,
.mini-change-view .chain-filters.active svg path {
  fill: #3d959b;
}

.films-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 40px;
}

.films-container.compact {
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
}

.films-container .film-card {
  width: unset;
}

.individual-years {
  display: flex;
  align-items: center;
  gap: 15px;
  width: fit-content;
  margin: 20px auto;
  margin-top: 20px;
  max-width: 100%;
}

.single-year-group {
  display: flex;
  border: 1px solid #eeeeee20;
  border-radius: 4px;
  overflow-x: auto;
}

.year-link {
  padding: 4px 18px;
  font-size: 14px;
  border-right: 1px solid #eeeeee20;
}

.year-link.last {
  border-right: none;
}

.year-link.active {
  background-color: #ebebe4;
  color: #1f1f21;
}

.decade-link svg {
  fill: #3d959b;
}

.next-decade svg {
  transform: rotate(180deg);
}
.next-page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eeeeee20;
  margin-top: 15px;
  margin-bottom: 70px;
}

.page-btn {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 4px;

  padding: 6px 12px;
  background-color: #77847c8d;
  border-radius: 3px;
  margin-top: 10px;
  border-top: 1px solid #77847cbd;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.page-btn span {
  font-size: 9px;
  line-height: 1cap;
  text-transform: uppercase;
  font-weight: 600;
  color: #b7b7b7;
}

.page-btn:hover {
  background-color: #3d959bc1;
}

.page-btn:hover span {
  color: #ffffff;
}

.page-btn:hover svg {
  fill: white;
}

.page-btn svg {
  width: 15px;
  height: 15px;
  fill: #3d959b;
}

.page-btn.next-page svg {
  transform: rotate(180deg);
}

@media (max-width: 450px) {
  .filtered-view-filter-bar h3 {
    display: none;
  }

  .filter-bar-right {
    margin: auto;
  }
}

@media (max-width: 500px) {
  .filtered-view-filter-bar .default-view-selector {
    display: none;
  }

  .mini-change-view .default-view-selector {
    display: flex;
  }

  .view-selector-text {
    display: block;
  }

  .individual-years {
    margin-top: 15px;
  }
}
