.splide {
  margin-bottom: 0px;
  padding: 0;
}

.splide .splide__arrow svg {
  width: 20px;
  height: 20px;
}

.splide__slide {
  width: fit-content !important;
}

.me-reviews-container .ratings-container {
  gap: 2px;
}

.me-reviews-container .ratings-container span {
  width: 12px;
  height: 12px;
}

.friends-activity-container .ratings-container {
  gap: 2px;
  margin-top: 4px;
}

.friends-activity-container .ratings-container span {
  width: 12px;
  height: 12px;
}

.friends-activity-container .ratings-container span svg {
  fill: gray;
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 100%;
}

.filter-group-container {
  background-color: #839495;
  z-index: 20;
  color: #1f1f21;
  font-size: 13px;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  max-width: 140px;
  width: fit-content;
}

.filter-options {
  border: 1px solid #1f1f21;
  border-radius: 4px;
}

.filter-wrapper:hover .filter-group-container {
  opacity: 1;
  pointer-events: all;
}

.filter-btn {
  padding: 4px 8px;
  min-width: 80px;
  white-space: nowrap;
  text-transform: capitalize;
}

.primary-filter-button {
  display: flex;
  gap: 8px;
  font-size: 13px;
  align-items: center;
  padding: 4px 15px;
  border-right: 1px solid #1f1f21;
  text-transform: uppercase;
  width: 100%;
}

.primary-filter-button svg {
  fill: white;
}

.last-primary-button {
  border-right: none;
}

.filter-btn:hover {
  background-color: #606d6e;
  color: white;
}

.dropdown-title {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 15px;
  border-bottom: 1px solid #767677;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #839495;
}

.dropdown-title svg {
  fill: white;
}

.yearly-group-btn {
  width: 100%;
  height: fit-content;
  text-overflow: ellipsis;
}

@media (max-width: 690px) {
  .filter-wrapper {
    border-bottom: 1px solid #1f1f21;
  }

  .primary-filter-button,
  .dropdown-title {
    justify-content: space-between;
    font-size: 11px;
    padding: 2px 8px;
  }
}

@media (max-width: 580px) {
  .filter-bar {
    flex-direction: column;
    justify-content: start;
    gap: 8px;
  }
  .primary-filter-button,
  .dropdown-title {
    font-size: 10px;
    padding: 2px 5px;
  }
}
